# Google Sheets Configuration
# Obtenez ces informations depuis Google Cloud Console
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVOTRE_CLE_PRIVEE_ICI\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_CLIENT_EMAIL="votre-service-account@votre-projet.iam.gserviceaccount.com"
GOOGLE_SHEETS_SPREADSHEET_ID="1ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX234YZ"

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=221777115972